---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/pulses/activity?limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 1057, "next": "https://otx.alienvault.com/api/v1/pulses/activity?limit=10&page=2",
        "results": [{"industries": ["government"], "TLP": "white", "description":
        "This blog discusses targeted attacks against the Middle East taking place
        between February and October 2017 by a group Unit 42 is naming \u201cMuddyWater\u201d.
        This blog links this recent activity with previous isolated public reporting
        on similar attacks we believe are related. We refer to these attacks as MuddyWater
        due to the confusion in attributing these attacks. Although the activity was
        previously linked by others to the FIN7 threat actor group, our research suggests
        the activity is in fact espionage related and unlikely to be FIN7 related.\n\nThe
        MuddyWater attacks are primarily against Middle Eastern nations. However,
        we have also observed attacks against surrounding nations and beyond, including
        targets in India and the USA. MuddyWater attacks are characterized by the
        use of a slowly evolving PowerShell-based first stage backdoor we call \u201cPOWERSTATS\u201d.
        Despite broad scrutiny and reports on MuddyWater attacks, the activity continues
        with only incremental changes to the tools and techniques.", "created": "2017-11-14T22:08:31.715000",
        "tags": ["MuddyWater", "powershell", "POWERSTATS", "DNSMessenger", "LazaGne",
        "unit42"], "modified": "2017-11-14T22:08:31.715000", "author_name": "AlienVault",
        "public": 1, "references": ["https://researchcenter.paloaltonetworks.com/2017/11/unit42-muddying-the-water-targeted-attacks-in-the-middle-east/"],
        "targeted_countries": ["Saudi Arabia", "Iraq", "Israel", "United Arab Emirates",
        "Georgia", "India", "Pakistan", "Turkey", "United States"], "indicators":
        [{"indicator": "12a7898fe5c75e0b57519f1e7019b5d09f5c5cbe49c48ab91daf6fcc09ee8a30",
        "description": "", "created": "2017-11-14T22:08:32", "title": "", "content":
        "", "type": "FileHash-SHA256", "id": 77069066}, {"indicator": "1421a5cd0566f4a69e7ca9cdefa380507144d7ed59cd22e53bfd25263c201a6f",
        "description": "", "created": "2017-11-14T22:08:32", "title": "", "content":
        "", "type": "FileHash-SHA256", "id": 143295941}, {"indicator": "16985600c959f6267476da614243a585b1b222213ec938351ef6a26560c992db",
        "description": "", "created": "2017-11-14T22:08:32", "title": "", "content":
        "", "type": "FileHash-SHA256", "id": 143295942}, {"indicator": "1b60b7f9b0faf25288f1057b1[...]
