---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/correlation-rule/572f8c3c540c6f0161677877/general
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"pulse_info": {"count": 0, "references": [], "pulses": []}, "indicator":
        "572f8c3c540c6f0161677877", "cve": null, "sections": ["general"], "base_indicator":
        {}}'
  recorded_at: Tue, 14 Nov 2017 16:33:46 GMT
recorded_with: VCR 3.0.3
