---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/cve/CVE-2014-0160/general
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"indicator": "CVE-2014-0160", "exploits": [{"name": "OpenSSL 1.0.1f
        TLS Heartbeat Extension - ''Heartbleed'' Memory Disclosure (Multiple SSL/TLS
        versions)", "author": "Fitzl Csaba", "url": "https://github.com/offensive-security/exploit-database/blob/master/platforms/multiple/remote/32764.py",
        "platform": "multiple", "date": "2014-04-09", "cve": "CVE-2014-0160", "type":
        "remote", "port": "443"}, {"name": "OpenSSL TLS Heartbeat Extension - ''''Heartbleed''
        Memory Disclosure", "author": "Jared Stafford", "url": "https://github.com/offensive-security/exploit-database/blob/master/platforms/multiple/remote/32745.py",
        "platform": "multiple", "date": "2014-04-08", "cve": "CVE-2014-0160", "type":
        "remote", "port": "443"}, {"name": "OpenSSL TLS Heartbeat Extension - ''''Heartbleed''
        Memory Disclosure", "author": "Jared Stafford", "url": "https://github.com/offensive-security/exploit-database/blob/master/platforms/multiple/remote/32745.py",
        "platform": "multiple", "date": "2014-04-08", "cve": "CVE-2014-0160", "type":
        "remote", "port": "443"}, {"name": "OpenSSL TLS Heartbeat Extension - ''Heartbleed''
        Information Leak Exploit (1)", "author": "prdelka", "url": "https://github.com/offensive-security/exploit-database/blob/master/platforms/multiple/remote/32791.c",
        "platform": "multiple", "date": "2014-04-10", "cve": "CVE-2014-0160", "type":
        "remote", "port": "443"}, {"name": "OpenSSL TLS Heartbeat Extension - ''Heartbleed''
        Information Leak Exploit (2) (DTLS Support)", "author": "Ayman Sagy", "url":
        "https://github.com/offensive-security/exploit-database/blob/master/platforms/multiple/remote/32998.c",
        "platform": "multiple", "date": "2014-04-24", "cve": "CVE-2014-0160", "type":
        "remote", "port": "0"}], "nvd_url": "https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2014-0160",
        "date_modified": "2017-11-14T00:00:00", "cwe": "CWE-119", "pulse_info": {"count":
        3, "references": ["https://www.us-cert.gov/ncas/alerts.xml"], "pulses": [{"indicator_type_counts":
        {"FileHash-SHA256": 2, "domain": 2, "URL": 24, "hostname": 20, "IPv4": 11,
        "CVE": 36, "FileHash-MD5": 67}, "pulse_source": "web", "TLP": "green", "description":
        "NCAS Alerts US-CERT", "subscriber_count": 33, "tags": ["earliest pe", "import",
        "pe", "uint32", "uint16", "mitm", "flash", "dns", "e.g.", "proxy", "aaeh",
        "privacy", "windows", "name", "adobe flash", "simda", "regin", "malware",
        "vista", "united", "wiper", "microsoft", "ssl", "tcp", "superfish", "firefox",
        "time", "top", "chrome", "windows server", "search", "microsoft office", "web",
        "server", "lenovo", "june", "trojan", "zip", "fri", "id", "google", "md5s",
        "sys", "i.e.", "change", "symantec", "mbr", "ids", "md5", "ascii", "http",
        "zeus", "botnet", "ftp", "mon", "financial", "september", "zeroaccess", "beebone",
        "openssl", "kaspersky lab", "https", "snort", "vobfus", "vpn", "adobe", "build",
        "report", "word", "dll", "kaspersky", "tls", "oracle", "pdf", "see", "information",
        "changeup", "vulnerability", "check", "cutwail", "overview", "aes", "july",
        "u.s.", "jul", "vbobfus", "united kingdom", "aug", "cryptolocker", "java",
        "avoid", "excel", "application", "email", "vendor", "singapore", "putty",
        "thailand", "poland", "ics", "as"], "export_count": 2, "is_following": 0,
        "is_modified": false, "upvotes_count": 2.0, "modified_text": "741 days ago
        ", "is_subscribing": 0, "references": ["https://www.us-cert.gov/ncas/alerts.xml"],
        "targeted_countries": [], "groups": [], "vote": 0, "validator_count": 0, "is_author":
        false, "adversary": null, "id": "563c17ae67db8c7a156ab753", "observation":
        {"indicator_type_counts": {"FileHash-SHA256": 2, "domain": 2, "URL": 24, "hostname":
        20, "IPv4": 11, "CVE": 36, "FileHash-MD5": 67}, "pulse_source": "web", "description":
        "NCAS Alerts US-CERT", "subscriber_count": 30, "cloned_from": null, "is_subscribed":
        0, "comment_count": 0, "author_name": "matthewssa", "upvotes_count": 2.0,
        "is_subscribing": 0, "references": ["https://www.us-cert.gov/ncas/alerts.xml"],
        "targeted_countries": [], "groups": [], "vote": 0, "validator_count": 0, "adversary":
        null, "id": "563c17ae67db8c7a156ab753", "extract_source": [], "industries":
        [], "tlp": "green", "locked": 0, "name": "NCAS Alerts", "is_following": 0,
        "created": "2015-11-06T02:59:58.886000", "tags": ["earliest pe", "import",
        "pe", "uint32", "uint16", "mitm", "flash", "dns", "e.g.", "proxy", "aaeh",
        "privacy", "windows", "name", "adobe flash", "simda", "regin", "malware",
        "vista", "united", "wiper", "microsoft", "ssl", "tcp", "superfish", "firefox",
        "time", "top", "chrome", "windows server", "search", "microsoft office", "web",
        "server", "lenovo", "june", "trojan", "zip", "fri", "id", "google", "md5s",
        "sys", "i.e.", "change", "symantec", "mbr", "ids", "md5", "ascii", "http",
        "zeus", "botnet", "ftp", "mon", "financial", "september", "zeroaccess", "beebone",
        "openssl", "kaspersky lab", "https", "snort", "vobfus", "vpn", "adobe", "build",
        "report", "word", "dll", "kaspersky", "tls", "oracle", "pdf", "see", "information",
        "changeup", "vulnerability", "check", "cutwail", "overview", "aes", "july",
        "u.s.", "jul", "vbobfus", "united kingdom", "aug", "cryptolocker", "java",
        "avoid", "excel", "application", "email", "vendor", "singapore", "putty",
        "thailand", "poland", "ics", "as"], "downvotes_count": 2.0, "modified": "2015-11-06T02:59:58.886000",
        "export_count": 2, "avatar_url": "https://otx.alienvault.com/static/img/default.png",
        "follower_count": 0, "votes_count": 0.0, "author_id": 6090, "user_subscriber_count":
        3, "public": 1, "revision": 1}, "industries": [], "locked": 0, "name": "NCAS
        Alerts", "created": "2015-11-06T02:59:58.886000", "cloned_from": null, "downvotes_count":
        2.0, "modified": "2015-11-06T02:59:58.886000", "comment_count": 0, "indicator_count":
        162, "author": {"username": "matthewssa", "is_subscribed": 0, "avatar_url":
        "https://otx.alienvault.com/static/img/default.png", "is_following": 0, "id":
        "6090"}, "in_group": false, "follower_count": 0, "votes_count": 0.0, "public":
        1}]}, "seen_wild": true, "products": ["cpe:/a:openssl:openssl:1.0.1", "cpe:/a:openssl:openssl:1.0.1:beta1",
        "cpe:/a:openssl:openssl:1.0.1:beta2", "cpe:/a:openssl:openssl:1.0.1:beta3",
        "cpe:/a:openssl:openssl:1.0.1a", "cpe:/a:openssl:openssl:1.0.1b", "cpe:/a:openssl:openssl:1.0.1c",
        "cpe:/a:openssl:openssl:1.0.1d", "cpe:/a:openssl:openssl:1.0.1e", "cpe:/a:openssl:openssl:1.0.1f",
        "cpe:/a:openssl:openssl:1.0.2:beta1"], "references": [{"external_source":
        "CONFIRM", "href": "http://advisories.mageia.org/MGASA-2014-0165.html", "type":
        "UNKNOWN", "name": "http://advisories.mageia.org/MGASA-2014-0165.html"}, {"external_source":
        "MISC", "href": "http://blog.fox-it.com/2014/04/08/openssl-heartbleed-bug-live-blog/",
        "type": "UNKNOWN", "name": "http://blog.fox-it.com/2014/04/08/openssl-heartbleed-bug-live-blog/"},
        {"external_source": "CONFIRM", "href": "http://cogentdatahub.com/ReleaseNotes.html",
        "type": "UNKNOWN", "name": "http:/[...]
