---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/domain/spywaresite.info/url_list?limit=20&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"has_next": false, "actual_size": 3, "url_list": [{"domain": "spywaresite.info",
        "url": "http://spywaresite.info", "hostname": "spywaresite.info", "httpcode":
        0, "gsb": ["generic", "malware"], "result": {"urlworker": {"http_code": 0},
        "safebrowsing": {"matches": ["generic", "malware"]}}, "date": "2017-08-21T02:25:35",
        "encoded": "http%3A//spywaresite.info"}, {"domain": "spywaresite.info", "url":
        "http://spywaresite.info/0/go.php?sid=2", "hostname": "spywaresite.info",
        "httpcode": null, "result": {"urlworker": {"ip": "69.165.98.21"}}, "date":
        "2013-08-13T06:19:25.978000", "encoded": "http%3A//spywaresite.info/0/go.php%3Fsid%3D2"},
        {"domain": "spywaresite.info", "url": "http://spywaresite.info/", "hostname":
        "spywaresite.info", "httpcode": null, "result": {"urlworker": {"ip": "69.165.98.21"}},
        "date": "2013-02-21T15:10:31.018000", "encoded": "http%3A//spywaresite.info/"}],
        "page_num": 1, "limit": 20, "full_size": 3, "paged": true}'
  recorded_at: Tue, 14 Nov 2017 16:33:49 GMT
recorded_with: VCR 3.0.3
