---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/domain/spywaresite.info/passive_dns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Otx-Active:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"passive_dns": [{"last": "2013-08-13 06:19:15", "indicator_link":
        "/indicator/domain/spywaresite.info", "hostname": "spywaresite.info", "address":
        "69.165.98.21", "flag_url": "/static/img/flags/us.png", "flag_title": "United
        States", "asset_type": "domain", "first": "2013-08-13 06:19:15"}], "count":
        1}'
  recorded_at: Tue, 13 Feb 2018 22:43:10 GMT
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/69.165.98.21/nids_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: FORBIDDEN
    headers:
      Content-Type:
      - application/json
      X-Otx-Active:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"detail": "Authentication required"}'
  recorded_at: Tue, 13 Feb 2018 22:43:20 GMT
recorded_with: VCR 3.0.3
