---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/domain/firewall-gateway.com/passive_dns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Otx-Active:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"passive_dns": [{"last": "2017-07-19 18:13:51", "indicator_link":
        "/indicator/hostname/andro-api.firewall-gateway.com", "hostname": "andro-api.firewall-gateway.com",
        "address": "91.11.245.194", "flag_url": "/static/img/flags/de.png", "flag_title":
        "Germany", "asset_type": "hostname", "first": "2017-07-19 18:00:43"}, {"last":
        "2016-11-09 23:19:17", "indicator_link": "/indicator/hostname/indecam.firewall-gateway.com",
        "hostname": "indecam.firewall-gateway.com", "address": "87.79.86.116", "flag_url":
        "/static/img/flags/de.png", "flag_title": "Germany", "asset_type": "hostname",
        "first": "2016-11-09 23:19:17"}, {"last": "2016-09-26 19:35:15", "indicator_link":
        "/indicator/hostname/aepvw.firewall-gateway.com", "hostname": "aepvw.firewall-gateway.co[...]
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/91.11.245.194/nids_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Otx-Active:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"count": 1, "results": ["2003068"], "next": null, "limit": 10, "page":
        1, "previous": null}'
  recorded_at: Thu, 15 Feb 2018 10:55:36 GMT
[...]
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/78.47.37.42/nids_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Otx-Active:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"count": 1, "results": ["2003068"], "next": null, "limit": 10, "page":
        1, "previous": null}'
  recorded_at: Thu, 15 Feb 2018 10:56:05 GMT
recorded_with: VCR 3.0.3
