---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/domain/spywaresite.info/whois
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 18, "data": [{"value": "clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited",
        "name": "Status", "key": "status"}, {"value": "clientTransferProhibited https://icann.org/epp#clientTransferProhibited",
        "name": "Status", "key": "status "}, {"value": "94089", "name": "Zipcode",
        "key": "zipcode"}, {"value": "Sun, 25 Jun 2017 12:35:54 GMT", "name": "Updated
        Date", "key": "updated_date"}, {"value": "Host Master", "name": " Name", "key":
        "name"}, {"value": "Sunnyvale", "name": "City", "key": "city"}, {"value":
        "US", "name": "Country", "key": "country"}, {"value": "[...]
