---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/pulses/events?limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 1, "next": null, "results": [{"action": "subscribe", "object_type":
        "user", "id": 1506106, "object_id": "AlienVault", "created": "2017-11-01T16:01:36.230000"}],
        "previous": null}'
  recorded_at: Thu, 16 Nov 2017 12:52:36 GMT
recorded_with: VCR 3.0.3
