---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/file/6c5360d41bd2b14b1565f5b18e5c203cf512e493/analysis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"malware": {}, "page_type": "PEXE", "analysis": {"info": {"results":
        {"sha1": "6c5360d41bd2b14b1565f5b18e5c203cf512e493", "file_class": "PEXE",
        "file_type": "PE32 executable (GUI) Intel 80386 Mono/.Net assembly, for MS
        Windows", "filesize": "437760", "ssdeep": "", "sha256": "4cf9322c49adebf63311a599dc225bbcbf16a253eca59bbe1a02e4ae1d824412",
        "md5": "2eb14920c75d5e73264f77cfa273ad2c"}}, "hash": "4cf9322c49adebf63311a599dc225bbcbf16a253eca59bbe1a02e4ae1d824412",
        "plugins": {"cuckoo": {"result": {"signatures": [{"new_data": [], "confidence":
        "50", "families": [], "severity": "2", "weight": "1", "name": "injection_rwx",
        "alert": false, "references": [], "data": [], "description": "Creates RWX
        memory"}, {"new_data": [], "confidence": "30", "families": [], "severity":
        "2", "weight": "1", "name": "reads_self", "alert": false, "references": [],
        "data": [{"self_read": "process: e80463bc-023b-11e6-8a75-001e67afb360.exe,
        pid: 3628, offset: 0x00000000, length: 0x0006ae00"}], "description": "Reads
        data out of its own binary image"}, {"new_data": [], "confidence": "100",
        "families": [], "severity": "2", "weight": "1", "name": "stealth_window",
        "alert": false, "references": [], "data": [{"Process": "e80463bc-023b-11e6-8a75-001e67afb360.exe
        -> C:\\Users\\mike\\AppData\\Local\\Temp\\4376\\50BB.bat"}], "description":
        "A process created a hidden window"}, {"new_data": [], "confidence": "75",
        "families": [], "severity": "2", "weight": "6", "name": "antivirus_virustotal",
        "alert": false, "references": [], "data": [{"McAfee": "RDN/Generic PWS.bfr"},
        {"K7GW": "Trojan ( 004e2d4b1 )"}, {"Baidu": "Win32.Trojan.WisdomEyes.151026.9950.9995"},
        {"ESET-NOD32": "a variant of MSIL/Injector.OWA"}, {"Avast": "Win32:Malware-gen"},
        {"GData": "MSIL.Trojan.Injector.HA"}, {"Kaspersky": "UDS:DangerousObject.Multi.Generic"},
        {"Rising": "PE:Malware.Generic/QRS!1.9E2D [F]"}, {"McAfee-GW-Edition": "BehavesLike.Win32.Backdoor.gh"},
        {"Qihoo-360": "HEUR/QVM03.0.Malware.Gen"}], "description": "File has been
        identified by at least one Antivirus on VirusTotal as malicious"}, {"new_data":
        [], "confidence": "50", "families": [], "severity": "2", "weight": "1", "name":
        "dropper", "alert": false, "references": [], "data": [{"binary": "C:\\Users\\mike\\AppData\\Roaming\\ACCTgLib\\atlleui.exe"}],
        "description": "Drops a binary and executes it"}, {"new_data": [], "confidence":
        "100", "families": [], "severity": "2", "weight": "1", "name": "packer_entropy",
        "alert": false, "references": ["http://www.forensickb.com/2013/03/file-entropy-explained.html",
        "http://virii.es/U/Using%20Entropy%20Analysis%20to%20Find%20Encrypted%20and%20Packed%20Malware.pdf"],
        "data": [{"section": "name: .text, entropy: 7.97, characteristics: IMAGE_SCN_CNT_CODE|IMAGE_SCN_MEM_EXECUTE|IMAGE_SCN_MEM_READ,
        raw_size: 0x00041800, virtual_size: 0x000417f4"}], "description": "The binary
        likely contains encrypted or compressed data."}, {"new_data": [], "confidence":
        "100", "families": [], "severity": "3", "weight": "1", "name": "infostealer_keylog",
        "alert": false, "references": [], "data": [], "description": "Sniffs keystrokes"},
        {"new_data": [], "confidence": "100", "families": [], "severity": "3", "weight":
        "1", "name": "persistence_autorun", "alert": false, "references": [], "data":
        [{"key": "HKEY_CURRENT_USER\\Software\\Microsoft\\Windows\\CurrentVersion\\Run\\bcdpcapi"},
        {"data": "C:\\Users\\mike\\AppData\\Roaming\\ACCTgLib\\atlleui.exe"}], "description":
        "Installs itself for autorun at Windows startup"}, {"new_data": [], "confidence":
        "100", "families": [], "severity": "3", "weight": "1", "name": "stealth_network",
        "alert": false, "references": [], "data": [], "description": "Network activity
        detected but not expressed in API logs"}, {"new_data": [], "confidence": "100",
        "families": [], "severity": "3", "weight": "1", "name": "copies_self", "alert":
        false, "references": [], "data": [{"copy": "C:\\Users\\mike\\AppData\\Roaming\\ACCTgLib\\atlleui.exe"}],
        "description": "Creates a copy of itself"}], "network": {"udp": [{"src": "192.168.56.105",
        "dst": "192.168.56.255", "offset": "1590", "time": "3.1906330585479736", "dport":
        "137", "sport": "137"}, {"src": "192.168.56.105", "dst": "23.102.23.44", "offset":
        "5542", "time": "13.174813032150269", "dport": "123", "sport": "123"}, {"src":
        "192.168.56.105", "dst": "239.255.255.250", "offset": "5754", "time": "2.0985519886016846",
        "dport": "3702", "sport": "49152"}, {"src": "192.168.56.105", "dst": "239.255.255.250",
        "offset": "9942", "time": "4.953336954116821", "dport": "3702", "sport": "49158"},
        {"src": "192.168.56.105", "dst": "239.255.255.250", "offset": "12670", "time":
        "20.225383043289185", "dport": "3702", "sport": "60589"}, {"src": "192.168.56.105",
        "dst": "78.46.218.253", "offset": "15526", "time": "10.595221996307373", "dport":
        "53", "sport": "60588"}, {"src": "192.168.56.105", "dst": "8.8.8.8", "offset":
        "15618", "time": "11.591649055480957", "dport": "53", "sport": "60588"}],
        "icmp": [], "http": [], "smtp": [], "tcp": [], "hosts": [{"country_name":
        "unknown", "ip": "8.8.8.8", "inaddrarpa": "", "hostname": ""}, {"country_name":
        "unknown", "ip": "78.46.218.253", "inaddrarpa": "", "hostname": ""}, {"country_name":
        "unknown", "ip": "23.102.23.44", "inaddrarpa": "", "hostname": "time.windows.com"}],
        "pcap_sha256": "f289b02df975f9dec9b5d113de60122a65a70db8a4ad89977f3b31230557d4bc",
        "dns": [{"request": "time.windows.com", "type": "A", "answers": [{"type":
        "A", "data": "23.102.23.44"}, {"type": "CNAME", "data": "time.microsoft.akadns.net"}]}],
        "domains": [], "sorted_pcap_sha256": "e636a264a260efcf9eef52b32e8ce82600379faa817ce68387aae533a412ea3b",
        "irc": []}, "suricata": {}, "hostname": "cuckoo1", "dropped": [{"yara": [],
        "sha1": "9d41cf52f6a128405da433944add6031c5fb2626", "name": "50BB.bat", "sha512":
        "39d94e853f66b46b41d08d14062a6024a647c2d0c9c64ba3ca9e2d1c2fb139934c5d49a41d6693c232b853266a0e72aef81c76b56c1b82451ad6054de9543021",
        "type": "ASCII text, with CRLF line terminators", "clamav": null, "guest_paths":
        ["C:\\Users\\mike\\AppData\\Local\\Temp\\4376\\50BB.bat"], "crc32": "758B141B",
        "path": "/home/cuckoo/cuckoo/storage/analyses/243284/files/7110490844/50BB.bat",
        "ssdeep": "3:0x8yMZLK6OWRNfeW3mngU64vHXMJATkUEMx8y56In:c8yGlRjUvvHXMJ2dn8y5Nn",
        "sha256": "5fd45d7b99653bf71bdc604983832c42ae650b7e7920d02375cf6576642285aa",
        "data": ":36086203\r\nif not exist %1 goto 4258881092\r\ncmd /C \"%1 %2\"\r\nif
        errorlevel 1 goto 36086203\r\n:4258881092\r\ndel %0", "md5": "5a7f41b80fec5ad5fba2e36b07a5199d",
        "size": "110"}, {"yara": [], "sha1": "6c5360d41bd2b14b1565f5b18e5c203cf512e493",
        "name": "atlleui.exe", "sha512": "d02e405f61e4c4d5797fad492f28621acdbdbfa2c8238a74538b264dba6c847435c900502889e7bbc6f9bcb5d68858d52bb7b8243c6117884540fbe7e35aff20",
        "clamav": null, "guest_paths": ["C:\\Users\\mike\\AppData\\Roaming\\ACCTgLib\\atlleui.exe"],
        "crc32": "7F74EE66", "path": "/home/cuckoo/cuckoo/storage/analyses/243284/files/611704023/atlleui.exe",
        "ssdeep": "6144:nJTG5OL1XjLzGeR6zixH58yBPOcdsMAXLP5vfz/eTGeQ:JTsIPzG/WxHFPyDdvb/kGeQ",
        "sha256": "4cf9322c49adebf63311a599dc225bbcbf16a253eca59bbe1a02e4ae1d824412",
        "type": "PE32 executable (GUI) Intel 80386 Mono/.Net assembly, for MS Windows",
        "md5": "2eb14920c75d5e73264f77cfa273ad2c", "size": "437760"}], "behavior":
        {"files": ["C:\\Windows\\System32\\MSCOREE.DLL.local", "C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319\\mscoreei.dll",
        "C:\\Windows\\Microsoft.NET\\Framework\\*", "C:\\Windows\\Microsoft.NET\\Framework\\v1.0.3705\\clr.dll",
        "C:\\Windows\\Microsoft.NET\\Framework\\v1.0.3705\\mscorwks.dll", "C:\\Windows\\Microsoft.NET\\Framework\\v1.1.4322\\clr.dll",
        "C:\\Windows\\Microsoft.NET\\Framework\\v1.1.4322\\mscorwks.dll", "C:\\Windows\\Microsoft.NET\\Framework\\v2.0.50727\\clr.dll",
   [...]
