---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/file/6c5360d41bd2b14b1565f5b18e5c203cf512e493/general
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"indicator": "6c5360d41bd2b14b1565f5b18e5c203cf512e493", "sections":
        ["general", "analysis"], "pulse_info": {"count": 0, "references": [], "pulses":
        []}, "base_indicator": {}, "validation": [], "type": "sha1", "type_title":
        "FileHash-SHA1"}'
  recorded_at: Thu, 16 Nov 2017 12:52:16 GMT
recorded_with: VCR 3.0.3
