---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/hostname/mail.vspcord.com/passive_dns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"passive_dns": [{"last": "2015-05-11 02:33:09", "indicator_link":
        "/indicator/hostname/mail.vspcord.com", "hostname": "mail.vspcord.com", "address":
        "195.22.26.231", "flag_url": "/static/img/flags/pt.png", "flag_title": "Portugal",
        "asset_type": "hostname", "first": "2013-11-07 03:03:26"}, {"last": "2015-05-11
        02:33:09", "indicator_link": "/indicator/hostname/mail.vspcord.com", "hostname":
        "mail.vspcord.com", "address": "195.22.26.252", "flag_url": "/static/img/flags/pt.png",
        "flag_title": "Portugal", "asset_type": "hostname", "first": "2013-11-07 03:03:26"},
        {"last": "2015-05-11 02:33:09", "indicator_link": "/indicator/hostname/mail.vspcord.com",
        "hostname": "mail.vspcord.com", "address": "195.22.26.254", "flag_url": "/static/img/flags/pt.png",
        "flag_title": "Portugal", "asset_type": "hostname", "first": "2013-11-07 03:03:26"},
        {"last": "2015-05-11 02:33:09", "indicator_link": "/indicator/hostname/mail.vspcord.com",
        "hostname": "mail.vspcord.com", "address": "195.22.26.253", "flag_url": "/static/img/flags/pt.png",
        "flag_title": "Portugal", "asset_type": "hostname", "first": "2013-11-07 03:03:26"}],
        "count": 4}'
  recorded_at: Thu, 16 Nov 2017 12:52:15 GMT
recorded_with: VCR 3.0.3
