---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/hostname/otx.alienvault.com/malware
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"size": null, "previous": null, "data": [], "next": "https://otx.alienvault.com/api/v1/indicators/hostname/otx.alienvault.com/malware?page=2"}'
  recorded_at: Mon, 20 Nov 2017 14:55:24 GMT
recorded_with: VCR 3.0.3
