---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/hostname/otx.alienvault.com/url_list?limit=20&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"has_next": true, "actual_size": 145, "url_list": [{"domain": "alienvault.com",
        "url": "https://otx.alienvault.com/indicator/hostname/05.microsoftcloudserver.com",
        "hostname": "otx.alienvault.com", "httpcode": 200, "gsb": [], "result": {"urlworker":
        {"ip": "35.160.42.0", "http_code": 200}, "safebrowsing": {"matches": []}},
        "date": "2017-11-07T03:43:29", "encoded": "https%3A//otx.alienvault.com/indicator/hostname/05.microsoftcloudserver.com"},
        {"domain": "alienvault.com", "url": "https://otx.alienvault.com/indicator/domain/bat.bing.co",
        "hostname": "otx.alienvault.com", "httpcode": 200, "gsb": [], "result": {"urlworker":
        {"ip": "52.38.95.191", "http_code": 200}, "safebrowsing": {"matches": []}},
        "date": "2017-10-31T01:40:18", "encoded": "https%3A//otx.alienvault.com/indicator/domain/bat.bing.co"},
        {"domain": "alienv[...]
[...]
