---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/hostname/otx.alienvault.com/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"flag_url": "/static/img/flags/us.png", "city_data": true, "city":
        "Boardman", "region": "OR", "charset": 0, "area_code": 541, "continent_code":
        "NA", "country_code3": "USA", "latitude": 45.869598388671875, "postal_code":
        "97818", "longitude": -119.68800354003906, "country_code": "US", "country_name":
        "United States", "asn": "AS16509 Amazon.com, Inc.", "dma_code": 810, "flag_title":
        "United States"}'
  recorded_at: Mon, 20 Nov 2017 14:55:11 GMT
recorded_with: VCR 3.0.3
