---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/hostname/mail.vspcord.com/general
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"indicator": "mail.vspcord.com", "alexa": "http://www.alexa.com/siteinfo/mail.vspcord.com",
        "whois": "http://whois.domaintools.com/mail.vspcord.com", "type_title": "Hostname",
        "base_indicator": {"indicator": "mail.vspcord.com", "description": "", "title":
        "", "access_reason": "", "access_type": "public", "content": "", "type": "hostname",
        "id": 1446814}, "pulse_info": {"count": 1, "references": [], "pulses": []},
        "domain": "vspcord.com", "type": "hostname", "validation": [], "sections":
        ["general", "geo", "url_list", "passive_dns", "malware", "whois", "http_scans"]}'
  recorded_at: Thu, 16 Nov 2017 12:52:04 GMT
recorded_with: VCR 3.0.3
