---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/hostname/otx.alienvault.com/http_scans
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 31, "data": [{"value": "8c9551d41ef30da2776e92d9cbda6d0306c78762",
        "name": "443 Certificate Sha1", "key": "443 certificate_sha1"}, {"value":
        "C3472852", "name": "443 Certificate Subject", "key": "443 certificate subject
        "}, {"value": "www.otx.alienvault.com", "name": "443 Certificate Subjectaltname",
        "key": "443 certificate subjectAltName "}, {"value": "US", "name": "443 Certificate
        Subject", "key": "443 certificate subject "}, {"value": "301 Moved Permanently",
        "name": " 80 Title", "key": "80 title"}, {"value": "http://certs.godaddy.com/repository/",
        "name": "443 Certificate Issuer", "key": "443 certificate issuer "}, {"value":
        "Private Organization", "name": "443 Certificate Subject", "key": "443 certificate
        subject "}, {"value": "Go Daddy Secure Certificate Authority - G2", "name":
        "443 Certificate Issuer", "key": "443 certificate issuer "}, {"value": "California",
        "name": "443 Certificate Subject", "key": "443 certificate subject "}, {"value":
        "HTTP/1.1 301 Moved Permanently Content Length: 178 Content Type: text/html
        Date: Wed  13 Sep 2017 19:32:45 GMT Location: https://otx.alienvault.com/
        Server: nginx Connection: keep alive ", "name": "80 Header", "key": "80 header"},
        {"value": " DOCTYPE html html lang= en  itemscope itemtype= http://schema.org/Article
        head     New Relic     script type= text/javascript       window.NREUM NREUM=
        nr require=function t e n function r n if e n var o=e n = exports: t n 0 .call
        o.exports function e var o=t n 1 e return r o e o o.exports return e n .exports
        if function ==typeof  nr require return  nr require for var o=[...]
