---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/hostname/otx.alienvault.com/general
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"indicator": "otx.alienvault.com", "alexa": "http://www.alexa.com/siteinfo/otx.alienvault.com",
        "whois": "http://whois.domaintools.com/otx.alienvault.com", "type_title":
        "Hostname", "base_indicator": {}, "pulse_info": {"count": 0, "references":
        [], "pulses": []}, "domain": "alienvault.com", "type": "hostname", "validation":
        [{"source": "whitelist", "message": "Whitelisted domain alienvault.com", "name":
        "Whitelisted domain"}], "sections": ["general", "geo", "url_list", "passive_dns",
        "malware", "whois", "http_scans"]}'
  recorded_at: Mon, 20 Nov 2017 14:55:23 GMT
recorded_with: VCR 3.0.3
