---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/hostname/mail.vspcord.com/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"flag_url": "/static/img/flags/gb.png", "city_data": true, "city":
        null, "region": null, "charset": 0, "area_code": 0, "continent_code": "EU",
        "country_code3": "GBR", "latitude": 51.49639892578125, "postal_code": null,
        "longitude": -0.12240000069141388, "country_code": "GB", "country_name": "United
        Kingdom", "asn": "AS8426 Claranet Ltd", "dma_code": 0, "flag_title": "United
        Kingdom"}'
  recorded_at: Thu, 16 Nov 2017 12:52:12 GMT
recorded_with: VCR 3.0.3
