---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/8.8.8.8/general
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sections": ["general", "geo", "reputation", "url_list", "passive_dns",
        "malware", "nids_list", "http_scans"], "city": null, "area_code": 0, "pulse_info":
        {"count": 14, "references": [], "pulses": [{"indicator_type_counts": {"IPv4":
        1}, "pulse_source": "web", "TLP": "white", "description": "", "subscriber_count":
        0, "tags": [], "export_count": 0, "is_following": 0, "is_modified": false,
        "upvotes_count": 0, "modified_text": "1 hour ago ", "is_subscribing": 0, "references":
        [], "targeted_countries": [], "groups": [], "vote": 0, "validator_count":
        0, "is_author": false, "adversary": "", "id": "5a0b0c6b5fe42a3413031e7c",
        "observation": {"indicator_type_counts": {"IPv4": 1}, "pulse_source": "web",
        "description": "", "subscriber_count": 0, "cloned_from": null, "is_subscribed":
        0, "comment_count": 0, "author_name": "denvertracy", "upvotes_count": 0, "is_subscribing":
        0, "references": [], "targeted_countries": [], "groups": [], "vote": 0, "validator_count":
        0, "adversary": "", "id": "5a0b0c6b5fe42a3413031e7c", "extract_source": [],
        "industries": [], "tlp": "white", "locked": 0, "name": "My Case", "is_following":
        0, "created": "2017-11-14T15:31:55.601000", "tags": [], "downvotes_count":
        0, "modified": "2017-11-14T15:31:55.601000", "export_count": 0, "avatar_url":
        "https://otx.alienvault.com/static/img/default.png", "follower_count": 0,
        "votes_count": 0, "author_id": 46209, "user_subscriber_count": 0, "public":
        1, "revision": 1}, "industries": [], "locked": 0, "name": "My Case", "created":
        "2017-11-14T15:31:55.601000", "cloned_from": null, "downvotes_count": 0, "modified":
        "2017-11-14T15:31:55.601000", "comment_count": 0, "indicator_count": 1, "author":
        {"username": "denvertracy", "is_subscribed": 0, "avatar_url": "https://otx.alienvault.com/static/img/default.png",
        "is_following": 0, "id": "46209"}, "in_group": false, "follower_count": 0,
        "votes_count": 0, "public": 1}, {"indicator_type_counts": {"IPv4": 1}, "pulse_source":
        "web", "TLP": "white", "description": "Indiador de test", "subscriber_count":
        0, "tags": [], "export_count": 0, "is_following": 0, "is_modified": false,
        "upvotes_count": 0, "modified_text": "137 days ago ", "is_subscribing": 0,
        "references": [], "targeted_countries": [], "groups": [], "vote": 0, "validator_count":
        0, "is_author": fals[...]
