---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/8.8.8.8/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"flag_url": "/static/img/flags/us.png", "city_data": true, "city":
        null, "region": null, "charset": 0, "area_code": 0, "continent_code": "NA",
        "country_code3": "USA", "latitude": 37.750999450683594, "postal_code": null,
        "longitude": -97.8219985961914, "country_code": "US", "country_name": "United
        States", "asn": "AS15169 Google Inc.", "dma_code": 0, "flag_title": "United
        States"}'
  recorded_at: Thu, 16 Nov 2017 12:52:18 GMT
recorded_with: VCR 3.0.3
