---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/8.8.8.8/http_scans
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 4, "data": [{"value": "www.google.com", "name": "443 A Domains",
        "key": "443 a_domains"}, {"value": " HTML HEAD meta http equiv= content type  content=
        text/html charset=utf 8 TITLE 301 Moved /TITLE /HEAD BODY H1 301 Moved /H1
        The document has moved A HREF= http://www.google.com/ here /A . /BODY /HTML
        ", "name": "443 Body", "key": "443 body"}, {"value": "301 Moved", "name":
        " 443 Title", "key": "443 title"}, {"value": "HTTP/2 301 \r\nlocation: http://www.google.com/\r\ncontent-type:
        text/html; charset=UTF-8\r\ndate: Wed, 17 May 2017 11:18:02 GMT\r\nexpires:
        Fri, 16 Jun 2017 11:18:02 GMT\r\ncache-control: public, max-age=2592000\r\nserver:
        gws\r\ncontent-length: 219\r\nx-xss-protection: 1; mode=block\r\nx-frame-options:
        SAMEORIGIN\r\nalt-svc: quic=\":443\"; ma=2592000; v=\"37,36,35\"\r\n\r\n",
        "name": "443 Header", "key": "443 header"}]}'
  recorded_at: Tue, 14 Nov 2017 16:33:59 GMT
recorded_with: VCR 3.0.3
