---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/8.8.8.8/nids_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Otx-Active:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"count": 91, "results": ["2014374", "2014375", "2014372", "2014373",
        "2014371", "2003657", "2014779", "2012115", "2011090", "2014868"], "next":
        "https://otx.alienvault.com/api/v1/indicators/IPv4/8.8.8.8/nids_list?page=2",
        "limit": 10, "page": 1, "previous": null}'
  recorded_at: Tue, 13 Feb 2018 11:50:27 GMT
recorded_with: VCR 3.0.3
