---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/8.8.8.8/passive_dns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"passive_dns": [{"last": "2017-01-24 01:35:44", "indicator_link":
        "/indicator/domain/jie1383.com", "hostname": "jie1383.com", "address": "8.8.8.8",
        "flag_url": "/static/img/flags/us.png", "flag_title": "United States", "asset_type":
        "domain", "first": "2015-07-20 02:38:57"}, {"last": "2016-12-05 06:08:00",
        "indicator_link": "/indicator/hostname/fgyun.acmetoy.com", "hostname": "fgyun.acmetoy.com",
        "address": "8.8.8.8", "flag_url": "/static/img/flags/us.png", "flag_title":
        "United States", "asset_type": "hostname", "first": "2014-10-07 01:26:47"},
        {"last": "2016-10-20 09:55:47", "indicator_link": "/indicator/hostname/www.kingdom.myddns.com",
        "hostname": "www.kingdom.myddns.com", "address": "8.8.8.8", "fl[...]
