---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/IPv4/8.8.8.8/url_list?limit=20&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"has_next": true, "actual_size": 5100, "url_list": [{"domain": "hashminer.store",
        "url": "https://hashminer.store", "hostname": "hashminer.store", "httpcode":
        404, "gsb": [], "result": {"urlworker": {"ip": "8.8.8.8", "http_code": 404},
        "safebrowsing": {"matches": []}}, "date": "2017-09-25T20:42:41", "encoded":
        "https%3A//hashminer.store"}, {"domain": "worcesterboilerspares.co.uk", "url":
        "https://worcesterboilerspares.co.uk/product/87161203200-charging-link-assembly",
        "hostname": "worcesterboilerspares.co.uk", "httpcode": 404, "gsb": [], "result":
        {"urlworker": {"ip": "8.8.8.8", "http_code": 404}, "safebrowsing": {"matches":
        []}}, "date": "2017-09-14T01:58:16", "encoded": "https%3A//worcesterboilerspares.co.uk/product/87161203200-charging-link-assembly"},
     [...]
[...]
