---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/nids/2820184/general
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"category": "Suspicious Activity", "indicator": "2820184", "subcategory":
        "Webshell", "event_activity": null, "pulse_info": {"count": 0, "references":
        [], "pulses": []}, "base_indicator": {"indicator": "2820184", "description":
        "This Network IDS rule is included in the AlienVault Labs Threat Intelligence
        Subscription. This rule is used in correlation.", "title": "Suspicious Activity:
        Webshell", "access_reason": "redacted", "access_type": "redacted", "content":
        null, "type": "NIDS", "id": 1886778}, "cve": null, "sections": ["general",
        "ip_list"], "malware_name": null, "name": "IndoXploit Shell Uploader Inbound"}'
  recorded_at: Thu, 16 Nov 2017 12:52:40 GMT
recorded_with: VCR 3.0.3
