---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/pulses/55b13b6ab45ff52d687ccc3c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"industries": [], "TLP": "green", "description": "Lately we informed
        you how a fake Dubsmash application has been uploaded to Google Play Store
        at least nine times, which have tens of thousands of installs. This porn clicker
        Trojan, which we detect as Android/Clicker, has once more become available
        for download from Play Store. After we notified Google and published an article
        about these fake Dubsmash Trojans, we discovered other fake Dubsmash versions
        being uploaded again infected with the same porn clicker. We detected yet
        another 51 Trojan porn clickers accessible for the users to download. Four
        of them had more than 10,000 installs and one of them had more than 50,000
        installs.", "created": "2015-07-23T19:07:22.591000", "tags": ["dubsmash",
        "play store", "trojan", "google play", "android", "malware", "clicker"], "modified":
        "2015-07-23T19:07:22.591000", "author_name": "AlienVault", "public": 1, "references":
        ["http://www.welivesecurity.com/2015/07/23/porn-clicker-keeps-infecting-apps-on-google-play/"],
        "targeted_countries": [], "indicators": [{"content": "", "indicator": "d59b2c7a28ae19ff2b85db9c2eeef29b",
        "description": "", "created": "2015-07-23T19:07:23", "is_active": 1, "title":
        "", "access_reason": "", "access_type": "public", "access_groups": [], "role":
        null, "expiration": null, "type": "FileHash-MD5", "id": 9998, "observations":
        3}, {"content": "", "indicator": "9e4b0adc7b4cf2353859eadbb928c688", "description":
        "", "created": "2015-07-23T19:07:23", "is_active": 1, "title": "", "access_reason":
        "", "access_type": "public", "access_groups": [], "role": null, "expiration":
        null, "type": "FileHash-MD5", "id": 13265, "observations": 2}, {"content":
        "", "indicator": "d11bb0b91595e6b6de89fb7bf2c92f83", "description": "", "created":
        "2015-07-23T19:07:23", "is_active": 1, "title":[...]
