---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/pulses/55b13b6ab45ff52d687ccc3c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"55b13b6ab45ff52d687ccc3c","name":"Porn clicker keeps infecting
        apps on Google Play","description":"Lately we informed you how a fake Dubsmash
        application has been uploaded to Google Play Store at least nine times, which
        have tens of thousands of installs. This porn clicker Trojan, which we detect
        as Android/Clicker, has once more become available for download from Play
        Store. After we notified Google and published an article about these fake
        Dubsmash Trojans, we discovered other fake Dubsmash versions being uploaded
        again infected with the same porn clicker. We detected yet another 51 Trojan
        porn clickers accessible for the users to download. Four of them had more
        than 10,000 installs and one of them had more than 50,000 installs.","author_name":"AlienVault","modified":"2015-07-23T19:07:22.591000","created":"2015-07-23T19:07:22.591000","tags":["dubsmash","play
        store","trojan","google play","android","malware","clicker"],"references":["http://www.welivesecurity.com/2015/07/23/porn-clicker-keeps-infecting-apps-on-google-play/"],"revision":1.0,"indicators":[{"indicator":"d59b2c7a28ae19ff2b85db9c2eeef29b","description":"","title":"","created":"2015-07-23T19:07:22.591","content":"","_id":"55b13b6ab45ff52d687ccc09","type":"FileHash-MD5"},{"indicator":"9e4b0adc7b4cf2353859eadbb928c688","description":"","title":"","created":"2015-07-23T19:07:22.591","content":"","_id":"55b13b6ab45ff52d687ccc0a","type":"FileHash-MD5"},{"indicator":"d11bb0b91595e6b6de89fb7bf2c92f83","description":"","title":"","created":"2015-07-23T19:07:22.591","content":"","_id":"55b13b6ab45ff52d687ccc0b","type":"FileHash-MD5"},{"indicator":"189e5e23a99af963dbfd70fd9552661e","description":"","title":"","created":"2015-07-23T19:07:22.591","content":[...]
