---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/pulses/user/AlienVault?limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 1057, "next": "https://otx.alienvault.com/api/v1/pulses/user/AlienVault?limit=10&page=2",
        "results": [{"indicator_type_counts": {"URL": 58, "FileHash-SHA256": 46, "IPv4":
        4}, "pulse_source": "web", "TLP": "white", "description": "This blog discusses
        targeted attacks against the Middle East taking place between February and
        October 2017 by a group Unit 42 is naming \u201cMuddyWater\u201d. This blog
        links this recent activity with previous isolated public reporting on similar
        attacks we believe are related. We refer to these attacks as MuddyWater due
        to the confusion in attributing these attacks. Although the activity was previously
        linked by others to the FIN7 threat actor group, our research suggests the
        activity is in fact espionage related and unlikely to be FIN7 related.\n\nThe
        MuddyWater attacks are primarily against Middle Eastern nations. However,
        we have also observed attacks against surrounding nations and beyond, including
        targets in India and the USA. MuddyWater attacks are characterized by the
        use of a slowly evolving PowerShell-based first stage backdoor we call \u201cPOWERSTATS\u201d.
        Despite broad scrutiny and reports on MuddyWater attacks, the activity continues
        with only incremental changes to the tools and techniques.", "subscriber_count":
        43452, "tags": ["MuddyWater", "powershell", "POWERSTATS", "DNSMessenger",
        "LazaGne", "unit42"], "export_count": 23, "is_following": 0, "is_modified":
        false, "upvotes_count": 0, "modified_text": "1 day ago ", "is_subscribing":
        0, "references": ["https://researchcenter.paloaltonetworks.com/2017/11/unit42-muddying-the-water-targeted-attacks-in-the-middle-east/"],
        "targeted_countries": ["Saudi Arabia", "Iraq", "Israel", "United Arab Emirates",
        "Georgia", "India", "Pakistan", "Turkey", "United States"], "groups": [],
        "vote": 0, "validator_count": 0, "is_author": false, "adversary": "", "id":
        "5a0b695faa066457f990a598", "industries": ["government"], "locked": 0, "name":
        "Muddying the Water: Targeted Attacks in the Middle East", "created": "2017-11-14T22:08:31.715000",
        "cloned_from": null, "downvotes_count": 0, "modified": "2017-11-14T22:08:31.715000",
        "comment_count": 0, "indicator_count": 108, "author": {"username": "AlienVault",
        "is_subscribed": 0, "avatar_url": "https://otx20-web-media.s3.amazonaws.com/media/avatars/AlienVault/resized/80/unnamed
        (1).jpg", "is_following": 0, "id": "2"}, "in_group": false, "follower_count":
        0, "votes_count": 0, "public": 1}, {"indicator_type_counts": {"FileHash-SHA256":
        29, "URL": 3, "hostname": 7, "FileHash-SHA1": 19, "CVE": 2, "FileHash-MD5":
        27}, "pulse_source": "web", "TLP": "white", "description": "Ongoing reporting
        by ClearSky", "subscriber_count": 43458, "tags": ["molerats", "palestine"],
        "export_count": 25, "is_following": 0, "is_modified": false, "upvotes_count":
        0, "modified_text": "1 day ago ", "is_subscribing": 0, "references": ["https://docs.google.com/document/d/1oYX3uN6KxIX_StzTH0s0yFNNoHDnV8VgmVqU5WoeErc",
        "https://twitter.com/ClearskySec/status/929998314002673666"], "targeted_countries":
        ["Israel"], "groups": [], "vote": 0, "validator_count": 0, "is_author": false,
        "adversary": "Molerats", "id": "5a0b0b46fee07f41c7a21123", "industries": [],
        "locked": 0, "name": "Continued Molerats Activity", "created": "2017-11-14T15:27:02.520000",
        "cloned_from": null, "downvotes_count": 0, "modified": "2017-11-14T15:27:02.520000",
        "comment_count": 0, "indicator_count": 87, "author": {"username": "AlienVault",
        "is_subscribed": 0, "avatar_url": "https://otx20-web-media.s3.amazonaws.com/media/avatars/AlienVault/resized/80/unnamed
        (1).jpg", "is_following": 0, "id": "2"}, "in_group": false, "follower_count":
        0, "votes_count": 0, "public": 1}, {"indicator_type_counts": {"domain": 1,
        "FileHash-MD5": 5}, "pulse_source": "web", "TLP": "white", "description":
        "According to X-Force research, the new banking Trojan emerged in the wild
        in September 2017, when its first test campaigns were launched. Our researchers
        noted that IcedID has a modular malicious code with modern banking Trojan
        capabilities comparable to malware such as the Zeus Trojan.\n\nAt this time,
        the malware targets banks, payment card providers, mobile services p[...]
