---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/search/users?limit=10&page=1&q=AlienVault&sort=created
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 168, "next": "https://otx.alienvault.com/api/v1/search/users?q=AlienVault&sort=created&limit=10&page=2",
        "results": [{"username": "mbeavers+151007@alienvault.com", "pulse_count":
        0, "user_id": 4891, "subscriber_count": 1, "member_since": "770 days ago ",
        "award_count": 0, "avatar_url": "https://otx.alienvault.com/static/img/default.png",
        "awards": [], "follower_count": 0, "accepted_edits_count": 0}, {"username":
        "PCIAlienVault", "pulse_count": 0, "user_id": 13661, "subscriber_count": 1,
        "member_since": "575 days ago ", "award_count": 0, "avatar_url": "https://otx.alienvault.com/static/img/default.png",
        "awards": [], "follower_count": 0, "accepted_edits_count": 0}, {"username":
        "alienvault1964", "pulse_count": 0, "user_id": 26066, "subscriber_count":
        1, "member_since": "284 days ago ", "award_count": 0, "avatar_url": "https://otx.alienvault.com/st[...]
