---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/pulses/indicators/types
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"detail": [{"slug": "ip", "name": "IPv4", "description": "An IPv4
        address indicating the online location of a server or other computer."}, {"slug":
        "ip", "name": "IPv6", "description": "An IPv6 address indicating the online
        location of a server or other computer."}, {"slug": "domain", "name": "domain",
        "description": "A domain name for a website or server. Domains encompass a
        series of hostnames."}, {"slug": "hostname", "name": "hostname", "description":
        "The hostname for a server located within a domai[...]
