---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/pulses/57204e9b3c4c3e015d93cb12/related?limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 2, "next": null, "results": [{"industries": [], "TLP": "green",
        "description": "Unit 42 recently observed a 9002 Trojan delivered using a
        combination of shortened links and a shared file hosted on Google Drive. The
        delivery method also uses an actor-controlled server hosting a custom redirection
        script to track successful clicks by targeted email addresses. The infrastructure
        associated with this 9002 Trojan sample was also found to have previous ties
        to attacks on Myanmar and other Asian countries that used Poison Ivy as the
        payload, including a recent, and possibly ongoing campaign against Taiwan",
        "created": "2016-07-27T12:40:25.797000", "tags": ["http", "trojan", "base64",
        "url", "poison ivy", "figure", "dll", "google drive", "myanmar", "powerpoint",
        "zip", "mon", "sha256", "july", "jul", "date", "taiwan", "autofocus", "network",
        "tcp", "userprofile", "test", "gmail", "post", "payload", "urls", "may", "xor",
        "wildfire"], "modified": "2016-07-27T13:10:44.829000", "author_name": "infosec@firstfinancial.org",
        "public": 1, "references": ["http://researchcenter.paloaltonetworks.com/2016/07/unit-42-attack-delivers-9002-trojan-through-google-drive/"],
        "targeted_countries": [], "indicators": [{"indicator": "6bdd45cb6c021512c203cf01a051dce28449e364627e1366412c0051094f60a0",
        "description": "", "created": "2016-07-27T12:40:26", "title": "", "content":
        "", "type": "FileHash-SHA256", "id": 481427}, {"indicator": "c11b963e2df167766e32b14fb05fd71409092092db93b310a953e1d0e9ec9bc3",
        "description": "", "created": "2016-07-27T12:40:26", "title": "", "content":
        "", "type": "FileHash-SHA256", "id": 481428}, {"indicator": "08dee1f5ced372716ad5c6e3f2041bcdeb25e905efc19d3749fe637d0a589ccc",
        "description": "", "created": "2016-07-27T12:40:26", "title": "", "content":
        "", "type": "FileHash-SHA256", "id": 481429}, {"indicator": "0940602e7d47941f36c975afa9d2c6b1b[...]
