---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/pulses/57204e9b3c4c3e015d93cb12/indicators?limit=10&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 13, "next": "https://otx.alienvault.com/api/v1/pulses/57204e9b3c4c3e015d93cb12/indicators?limit=10&page=2",
        "results": [{"indicator": "webserver.servehttp.com", "description": "", "created":
        "2016-04-27T05:31:07", "title": "", "slug": "hostname", "content": "", "pulse_key":
        "57204e9b3c4c3e015d93cb12", "type": "hostname", "id": 361850}, {"indicator":
        "web.microsoftdefence.com", "description": "", "created": "2016-04-27T05:31:07",
        "title": "", "slug": "hostname", "content": "", "pulse_key": "57204e9b3c4c3e015d93cb12",
        "type": "hostname", "id": 361851}, {"indicator": "jackhex.md5c.net", "description":
        "", "created": "2016-04-27T05:31:07", "title": "", "slug": "hostname", "content":
        "", "pulse_key": "57204e9b3c4c3e015d93cb12", "type": "hostname", "id": 175207},
        {"indicator"[...]
