---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/pulses/57204e9b3c4c3e015d93cb12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"industries": [], "TLP": "green", "description": "The infamous Remote
        Access Trojan (RAT) Poison Ivy (hereafter referred to as PIVY) has resurfaced
        recently, and exhibits some new behaviors. PIVY has been observed targeting
        a number of Asian countries for various purposes over the past year. Palo
        Alto Networks\u2019 Unit 42 recently blogged about a new Poison Ivy variant
        targeting Hong Kong activists dubbed SPIVY that uses DLL sideloading and operates
        quite differently from a variant recently observed by ASERT that has been
        active for at least the past 12 months.", "created": "2016-04-27T05:31:06.941000",
        "tags": ["rat", "remote access trojan", "poison ivy", "pivy", "Myanmar", "asia",
        "Hong Kong", "arbornetworks"], "modified": "2016-04-27T05:31:06.941000", "author_name":
        "AlienVault", "public": 1, "references": ["https://www.arbornetworks.com/blog/asert/recent-poison-iv/"],
        "targeted_countries": [], "indicators": [{"content": "", "indicator": "webserver.servehttp.com",
        "description": "", "created": "2016-04-27T05:31:07", "is_active": 1, "title":
        "", "access_reason": "", "access_type": "public", "access_groups": [], "role":
        null, "expiration": null, "type": "hostname", "id": 361850, "observations":
        3}, {"content": "", "indicator": "web.microsoftdefence.com", "description":
        "", "created": "2016-04-27T05:31:07", "is_active": 1, "title": "", "access_reason":
        "", "access_type": "public", "access_groups": [], "role": null, "expiration":
        null, "type": "hostname", "id": 361851, "observations": 2}, {"content": "",
        "indicator": "jackhex.md5c.net", "description": "", "created": "2016-04-27T05:31:07",
        "is_active": 1, "title": "", "access_reason": "", "[...]
