---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/url/http://www.fotoidea.com/sport/4x4_san_ponso/slides/IMG_0068.html/general
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Remote-User-Name:
      - Anonymous
      X-Otx-Active:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"sections": ["general", "url_list", "http_scans", "screenshot"], "indicator":
        "http://www.fotoidea.com/sport/4x4_san_ponso/slides/IMG_0068.html", "type":
        "url", "type_title": "URL", "validation": [], "base_indicator": {"id": 314386135,
        "indicator": "http://www.fotoidea.com/sport/4x4_san_ponso/slides/IMG_0068.html",
        "type": "URL", "title": "", "description": "", "content": "", "access_type":
        "public", "access_reason": ""}, "pulse_info": {"count": 0, "pulses": [], "references":
        [], "related": {"alienvault": {"adversary": [], "malware_families": [], "industries":
        [], "unique_indicators": 0}, "other": {"adversary": [], "malware_families":
        [], "industries": [], "unique_indicators": 0}}}, "false_positive": [], "alexa":
        "http://www.alexa.com/siteinfo/fotoidea.com", "whois": "http://whois.domaintools.com/fotoidea.com",
        "domain": "fotoidea.com", "hostname": "www.fotoidea.com"}'
  recorded_at: Tue, 12 Jul 2022 13:58:19 GMT
recorded_with: VCR 6.1.0
