---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/indicators/url/http:/www.fotoidea.com/sport/4x4_san_ponso/slides/IMG_0068.html/url_list?limit=20&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"flag_url": "/static/img/flags/it.png", "city_data": true, "city":
        "Arezzo", "url_list": [{"url": "http://www.fotoidea.com/sport/4x4_san_ponso/slides/IMG_0068.html",
        "httpcode": null, "secs": 1403816077.0, "params": {}, "result": {"urlworker":
        {"has_file_analysis": false, "url": "http://www.fotoidea.com/sport/4x4_san_ponso/slides/IMG_0068.html",
        "ip": null, "filemagic": "HTML document text", "http_response": {"CONTENT-LENGTH":
        "14620", "ACCEPT-RANGES": "bytes", "VARY": "Accept-Encoding", "SERVER": "Apache",
        "LAST-MODIFIED": "Sat, 14 Jun 2014 12:37:30 GMT", "CONNECTION": "close", "ETAG":
        "\"92a46a-391c-4fbcb0eb2109d\"", "DATE": "Thu, 26 Jun 2014 18:54:30 GMT",
        "CONTENT-TYPE": "text/html"}, "md5": "04072e86378dba3d8bbf772126164f85"}},
        "date": "2014-06-26T20:54:37.829000", "deep_analysis": true}, {"url": "http://www.fotoidea.com/sport/4x4_san_ponso/slides/IMG_0068.html",
        "httpcode": 200, "secs": 1403801671.0, "gsb": [["goog-malware-shavar", "www.fotoidea.com/"]],
        "params": {}, "result": {"urlworker": {"sha256": "0bab81c82264a65205bf1a718c4d2511d698b365df44463294eec7859e4ba812",
        "url": "http://www.fotoidea.com/sport/4x4_san_ponso/slides/IMG_0068.html",
        "ip": "213.205.40.169", "filetype": "text/html", "filemagic": "HTML document,
        UTF-8 Unicode text, with very long lines", "has_file_analysis": false, "http_response":
        {"CONTENT-LENGTH": "3937", "CONTENT-ENCODING": "gzip", "ACCEPT-RANGES": "bytes",
        "VARY": "Accept-Encoding", "KEEP-ALIVE": "timeout=15, max=80", "SERVER": "Apache",
        "LAST-MODIFIED": "Sat, 14 Jun 2014 12:37:30 GMT", "CONNECTION": "Keep-Alive",
        "ETAG": "\"92a46a-391c-4fbcb0eb2109d\"", "DATE": "Thu, 26 Jun 2014 14:54:33
        GMT", "CONTENT-TYPE": "text/html"}, "http_code": 200, "md5": "04072e86378dba3d8bbf772126164f85"},
        "safebrowsing": {"matches": [["goog-malware-shavar", "www.fotoidea.com/"]],
        "response_code": 0}}, "date": "2014-06-26T16:54:31", "deep_analysis": true}],
        "charset": 0, "area_code": 0, "continent_code": "EU", "country_code3": "ITA",
        "latitude": 43.41669845581055, "postal_code": "52100", "longitude": 11.883299827575684,
        "country_code": "IT", "country_name": "Italy", "net_loc": "www.fotoidea.com",
        "region": "16", "dma_code": 0, "flag_title": "Italy"}'
  recorded_at: Thu, 16 Nov 2017 12:52:41 GMT
recorded_with: VCR 3.0.3
