---
http_interactions:
- request:
    method: get
    uri: https://otx.alienvault.com/api/v1/search/users?limit=10&page=1&q=AlienVault&sort=username
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count": 168, "next": "https://otx.alienvault.com/api/v1/search/users?q=AlienVault&sort=username&limit=10&page=2",
        "results": [{"username": "4979-AlienVault", "pulse_count": 0, "user_id": 45001,
        "subscriber_count": 0, "member_since": "13 days ago ", "award_count": 0, "avatar_url":
        "https://otx.alienvault.com/static/img/default.png", "awards": [], "follower_count":
        0, "accepted_edits_count": 0}, {"username": "abloch@alienvault.com", "pulse_count":
        0, "user_id": 15194, "subscriber_count": 0, "member_since": "537 days ago
        ", "award_count": 0, "avatar_url": "https://otx.alienvault.com/static/img/default.png",
        "awards": [], "follower_count": 0, "accepted_edits_count": 0}, {"username":
        "ahartotx@alienvault.com", "pulse_count": 0, "user_id": 46139, "subscriber_count":
        0, "member_since": "21 hours ago ", "award_count": 0, "avatar_url": "https://otx.[...]
